@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MyriadPro-Regular.woff2) format('woff2'), url(../fonts/MyriadPro-Regular.woff) format('woff')
}

@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/MyriadPro-Bold.woff2) format('woff2'), url(../fonts/MyriadPro-Bold.woff) format('woff')
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}

.card {
        width: 90mm;
        height: 60mm;
        padding: 3mm 3mm 4mm 4.5mm;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        background: url(../i/bg.png) left center no-repeat;
        background-size: auto 100%;
        margin: 0 auto 1em
    }
    .card::after {
        display: none
    }
    .card__top {
        display: block;
        font-size: 0;
        margin-bottom: 3mm
    }
    .card__bottom::after,
    .card__top::after {
        content: '';
        display: table;
        clear: both
    }
    .card__photo {
        display: block;
        float: left;
        width: 27mm;
        height: 33mm;
        overflow: hidden;
        margin-right: 3mm;
        margin-top: 1mm
    }
    .card__photo img {
        display: block;
        width: auto;
        height: 100%;
        margin: auto
    }
    .card__info {
        float: right;
        width: 52.5mm
    }
    .card__bottom {
        display: block;
        font-size: 0;
        padding-left: 1mm
    }
    .card__flags {
        width: 6.5mm;
        margin-right: 0
    }
    .card__flags,
    .card__valid,
    .card__years {
        display: inline-block;
        float: left;
        vertical-align: middle
    }
    .card__valid {
        position: relative;
        margin-right: 5mm;
        width: 6mm
    }
    .card__valid span,
    .card__valid::after {
        display: block;
        position: absolute;
        top: 50%
    }
    .card__valid span {
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);
        color: #fff;
        text-align: center;
        font-size: 2mm;
        line-height: 1.15
    }
    .card__valid::after {
        content: '';
        width: 0;
        height: 0;
        border-width: 3.5mm 0 3.5mm 2.5mm;
        border-style: solid;
        border-color: transparent transparent transparent #f08100;
        right: -3.5mm;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    .card__years {
        width: 64mm;
        font-size: 0
    }
    .card__info-top {
        display: block;
        font-size: 0;
        text-align: justify;
        margin-bottom: 0
    }
    .card__info-top::after {
        content: '';
        display: table;
        clear: both
    }
    .card__stek-logo {
        width: 13mm;
        height: 7.9mm;
        margin-bottom: 1mm
    }
    .card__stek-logo img,
    .card__tu-logo img {
        display: block;
        width: 100%;
        height: 100%
    }
    .card__barcode,
    .card__stek-logo,
    .card__tu-logo,
    .card__year {
        display: inline-block;
        float: left;
        vertical-align: middle
    }
    .card__tu-logo {
        height: 9.3mm;
        margin-bottom: 1mm;
        width: 8.1mm
    }
    .card__barcode,
    .card__year {
        width: 23mm
    }
    .card__barcode img {
        display: block;
        max-width: 100%;
        height: auto
    }
    .card__year {
        width: 10mm;
        margin-right: 1mm;
        text-align: center
    }
    .card__year span {
        font-size: 3mm;
        line-height: .4;
        font-weight: 700;
        position: relative;
        z-index: 10
    }
    .card__year img {
        display: block;
        width: 100%;
        height: auto
    }
    .card__flag {
        width: 6.5mm;
        height: 4mm;
        margin-bottom: 1mm;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }
    .card__flag_ru {
        background-image: url(../i/flag-ru.png)
    }
    .card__flag_eu {
        background-image: url(../i/flag-eu.png)
    }
    .card__flags-note {
        text-align: center;
        font-size: 1.3mm;
        color: #fff
    }
    .card__info-header {
        font-size: 2mm;
        line-height: 1.15;
        letter-spacing: .025em;
        color: #c5c6c6;
        margin-bottom: 0
    }
    .card__info-header strong {
        color: #000
    }
    .card__info-header a {
        color: #c5c6c6;
        text-decoration: none
    }
    .card__name-ru {
        font-size: 3.5mm;
        letter-spacing: -.05em;
        line-height: 1.1
    }
    .card__name-en,
    .card__props {
        color: #b1b2b3;
        font-size: 2.5mm
    }
    .card__props {
        color: #c5c6c6;
        line-height: 1.1
    }
    .card__props span {
        font-size: 2.65mm;
        letter-spacing: .1em;
        font-weight: 700;
        color: #9c9d9d
    }
    .card__univercity-name {
        position: absolute;
        top: 24mm;
        right: -3.5mm;
        background: #d9dada;
        width: 20mm;
        height: 9mm;
        border-top-left-radius: 3mm;
        border-top-right-radius: 3mm;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .card__univercity-name svg {
        display: block;
        margin: auto;
        width: 18mm;
        height: 8mm;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        fill: #fff
    }