@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MyriadPro-Regular.woff2) format('woff2'), url(../fonts/MyriadPro-Regular.woff) format('woff')
}

@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/MyriadPro-Bold.woff2) format('woff2'), url(../fonts/MyriadPro-Bold.woff) format('woff')
}

/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
} */

.card {
    width: 90mm;
    height: 60mm;
    /*padding: 3mm 3mm 4mm 4.5mm;*/
    font-family: 'MyriadPro', sans-serif;
    background: url(/i/bg.png) left center no-repeat;
    border-collapse: collapse;
    border: 1px solid red;
    autosize: 1;
    background-image-resize: 5;
    position: fixed;
    left: 0;
    top: 0;
}

.card__photo-td {
    padding-top: 4mm;
    padding-left: 3.5mm;
    padding-right: 4mm;
    padding-bottom: 3mm;
    width: 27mm;
}
.card__photo {
    width: 27mm;
    height: 33mm;
}
.card__stek-logo-td,
.card__tu-logo-td {
    padding-bottom: 1mm;
    padding-right: 2mm;
    vertical-align: middle;
    text-align: left;
}
.card__stek-logo {
    width: 13mm;
    height: 7.9mm;
    padding-left: 4mm;
}
.card__tu-logo {
    height: 9.3mm;
    width: 8.1mm
}
.card__barcode-td {
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
.card__barcode {
    width: 23mm;
    height: auto;
}
.card__info-td {
    /*width: 52.5mm;*/
    vertical-align: top;
    text-align: left;
    padding-right: 3mm;
    padding-left: 3mm;
}
.card__info-header {
    font-size: 2mm;
    line-height: 1.15;
    letter-spacing: .025em;
    color: #c5c6c6;
    margin-bottom: 0;
}
.card__info-header strong {
    color: #000;
}
.card__info-header-link {
    color: #c5c6c6;
    text-decoration: none;
}
.card__name-ru {
    font-size: 3.5mm;
    letter-spacing: -.05em;
    line-height: 1.1;
}
.card__name-en,
.card__props {
    color: #b1b2b3;
    font-size: 2.5mm;
}
.card__props {
    color: #c5c6c6;
    line-height: 1.1;
}
.card__props span {
    font-size: 2.65mm;
    letter-spacing: .1em;
    font-weight: 700;
    color: #9c9d9d;
}
.card__flags-td {
    width: 6.5mm;
    padding-left: 3mm;
    text-align: center;
    vertical-align: top;
    padding-right: 1mm;
    line-height: 1;
}
.card__flag {
    width: 6.5mm;
    margin-bottom: 1mm;
}
.card__flags-note {
    text-align: center;
    font-size: 1.3mm;
    color: #fff
}
.card__valid-td {
    /*text-rotate: 90;*/
    color: #fff;
    font-size: 2mm;
    text-align: center;
    width: 3mm;
    vertical-align: middle;
}
.card__valid-div {
    position: absolute;
    top: 56mm;
    left: 27mm;
    rotate: -90;
    color: #fff;
    font-size: 2mm;
    text-align: center;
    width: 15mm;
}
.card__years-td {
    padding-left: 2mm;
    vertical-align: middle;
    text-align: left;
}
.card__years-table {
    border-collapse: collapse;
    border: 0;
    width: auto;
}
.card__year {
    padding-right: 1mm;
    vertical-align: middle;
    text-align: center;
}
.card__year-text-td {
    text-align: center;
    font-size: 3mm;
    line-height: .8;
    font-weight: 700;
}
.card__year-img-td {
    width: 10mm;
    text-align: center;
}
.card__year-img {
    width: 10mm;
    height: auto;
}

.card__univercity-name {
    position: fixed;
    top: 20mm;
    left: 82mm;
    width: 20mm;
    height: 9mm;
    text-align: center;
    border-top-left-radius: 3mm;
    border-top-right-radius: 3mm;
    rotate: -90;
    font-family: 'MyriadPro', sans-serif;
    color: #fff;
    background-color: #d9dada;
}
.card__univercity-name-svg {
    display: block;
    margin: auto;
    width: 18mm;
    height: 8mm;
    position: absolute;
    top: 50%;
    left: 50%;
    rotate: 90;
    fill: #fff
}
